@media screen and (max-width:576px) {
    .title span {
        font-size: 10px;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .project-menu li a {
        font-size: 10px;
    }

    .btn button {
        font-size: 11px;
    }
}

@media screen and (min-width:576px) {
    .title span {
        font-size: 11px;
    }

    .title h1 {
        font-size: 1.7rem;
    }

    .project-menu li a {
        font-size: 11px;
    }

    .btn button {
        font-size: 12px;
    }
}

@media screen and (min-width:768px) {
    .title span {
        font-size: 13px;
    }

    .title h1 {
        font-size: 1.9rem;
    }

    .project-menu li a {
        font-size: 13px;
    }

    .btn button {
        font-size: 13px;
    }
}

@media screen and (min-width:992px) {
    .title span {
        font-size: 14px;
    }

    .title h1 {
        font-size: 2.1rem;
    }

    .project-menu li a {
        font-size: 14px;
    }

    .btn button {
        font-size: 14px;
    }
}

@media screen and (min-width:1200px) {
    .title span {
        font-size: 16px;
    }

    .title h1 {
        font-size: 2.5rem;
    }

    .project-menu li a {
        font-size: 16px;
    }

    .btn button {
        font-size: 15px;
    }
}